body {
	margin: 0;
	padding: 0;
}

#enter {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: visibility 0s 2s, opacity 2s linear;
	padding: 0;
	height: 100vh;
}

#welcomeLoad {
	font-size: 130px;
}

#bigContainer {
	display: none;
	flex-direction: column;
	width: 100%;
	height: 100%:
}

#header {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40pt;
    color:lightslategray;
    text-align: center;
	margin: 1%;
}

#image {
	text-align: center;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
    background-color: cornflowerblue;
}

#BrandonPic {
	display: inline;
	height: 20%;
	width: 20%;
	border-radius: 30%;
    padding-top: .25%;
}

a {
	width: auto;
}

#links {
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
    background-color: lightcoral;
}

.pictureLogos {
	display: flex;
	flex-direction: row;
	width: 5%;
	height: 5%;
	margin: 1% 1.5%;
}

.pictureLogos:hover {
	color: lightgreen;
}

.imageModification {
	width: 100%;
	height: 100%;
}

#profileLinkBox {
	width: 80%;
	height: 100%;
}

#githubProfileLink {
	font-size: 150%;
}

#resumeBox {
	display: flex;
	flex-direction: row;
}

#bigDiv {
    background-image: url("../images/fog.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#contentDiv {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#welcome {
	font-size: 150%;
}

#projects {
	justify-content: center;
	align-items: center;
	text-align: center;
    margin-bottom: 1%;
}

h2 {
	text-decoration: underline;
	font-size: 150%;
}

#projectDescriptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	font-size: 200%;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectImg {
	display: flex;
	max-width: 70%;
    height: 70%;
    
}

.projectImages {
	width: 100%;
	height: 100%;
}

#footer {
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 150%;
}